<% layout("/layouts/boilerplate") %>
<style>


    
</style>

    <div id="filters">
        <div class="filter" id="Trending" data-name="Trending">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Trending">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-fire"></i></div>
                    <p>Trending</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Rooms" data-name="Rooms">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Rooms">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-bed"></i></div>
                    <p>Rooms</p>
                </button>
            </form>
        </div>
        <div class="filter" id="Iconic Cities" data-name="Iconic Cities">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Iconic Cities">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-mountain-city"></i></div>
                    <p>Iconic Cities</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Mountain" data-name="Mountain">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Mountains">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-mountain-sun"></i></div>
                    <p>Mountains</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Castles" data-name="Castles">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Castles">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-gopuram"></i></div>
                    <p>Castles</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Amazings Pools" data-name="Amazings Pools">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Amazings Pools">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-person-swimming"></i></div>
                    <p>Amazings Pools</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Camping" data-name="Camping">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Camping">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-campground"></i></div>
                    <p>Camping</p>
                </button>
            </form>
        </div>
        <div class="filter" id="farms" data-name="farms">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Farms">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-cow"></i></div>
                    <p>Farms</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Arctic" data-name="Arctic">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Arctic">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-snowflake"></i></div>
                    <p>Arctic</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Domes" data-name="Domes">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Domes">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-igloo"></i></i></div>
                    <p>Domes</p>
                </button>
            </form>
        </div>

        <div class="filter" id="Bots" data-name="Bots">
            <form action="/listings/category" method="post">
                <input type="hidden" name="category" value="Boats">
                <button style="border: none; background: none; padding: 0;">
                    <div><i class="fa-solid fa-sailboat"></i></div>
                    <p>Boats</p>
                </button>
            </form>
        </div>
        
        <div class="tax-toggle">
            <div class="form-check-reverse form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                <label class="form-check-label" for="switchCheckDefault">Display total after taxes </label>
            </div>
        </div>
    </div>
    <div class="row row-cols-lg-3 row-cols-md-3 row-cols-sm-3 mt-3">
    <% for(let listing of allListings) {  %>
    <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card"> 
    <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 20rem;" />
   
    <div class="card-img-overlay"></div>
   
    <div class="card-body">
    <p class="card-text">
        <b><%= listing.title%> </b> </p>
        &#8377; <%= listing.price && Number(listing.price).toLocaleString('en-IN') || '-' %> /night
        <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
    </div>
    </div>
    </a>
    <% } %>
    </div>

    <script>
        let taxSwitch = document.getElementById("switchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            let taxInfo = document.getElementsByClassName("tax-info");
            for(info of taxInfo) {
                if(info.style.display != "inline") {
                    info.style.display = "inline";
                } else {
                    info.style.display = "none";
                }
            }

        });

        let Trending = document.getElementById("Trending");
        Trending.addEventListener("click" ,()=>{
            console.log(Trending.dataset.name);
        });

        let Rooms = document.getElementById("Rooms");
        Rooms.addEventListener("click" ,()=>{
            console.log(Rooms.dataset.name);
        });

        let IconicCities = document.getElementById("Iconic Cities");
        IconicCities.addEventListener("click" ,()=>{
            console.log(IconicCities.dataset.name);
        });

        let Mountain = document.getElementById("Mountain");
        Mountain.addEventListener("click" ,()=>{
            console.log(Mountain.dataset.name);
        });

        let Castles = document.getElementById("Castles");
        Castles.addEventListener("click" ,()=>{
            console.log(Castles.dataset.name);
        });
        
    </script>
